---
import BaseLayout from "../layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;

const pageTitle = "Blog";
const allPosts = Object.values(
    import.meta.glob('./blog/*.md', { eager: true })
).sort((a, b) => 
    new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
);
---

<BaseLayout
    pageTitle = {pageTitle},
    bodyId = "blog",
    bodyClass = "teamdirt grid p-4 m-auto",
    mainClass =
>

    <h1 class="fw-bold mb-4">{pageTitle}</h1>

    <div class="blog-roll w-75" >

        {allPosts.map((post) => (
            <article class="mb-5 border-bottom">
                <h3 class="fw-bold">
                    <a href={post.url}>{post.frontmatter.title}</a>
                </h3>

                <p>
                    {post.frontmatter.excerpt}
                </p>

                <p class="meta">
                  {post.frontmatter.author}{post.frontmatter.position ? `, ${post.frontmatter.position}` : ""} &middot; 
                  <span>{new Date(post.frontmatter.date).toLocaleDateString()}</span>
                </p>
            </article>
        ))}
    </div>

</BaseLayout>