---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Blog";
const allPosts = Object.values(
    import.meta.glob('./blog/*.md', { eager: true })
);
---

<BaseLayout
    pageTitle = {pageTitle},
    bodyId = "blog",
    bodyClass = "teamdirt grid p-4 m-auto",
    mainClass = "p-3"
>

    <h1>{pageTitle}</h1>

    <div class="blog-roll w-75">

        {allPosts.map((post) => (
            <article class="mb-5">
                <h3 class="fw-bold">
                    <a href={post.url}>{post.frontmatter.title}</a>
                </h3>

                <p>
                    {post.frontmatter.excerpt}
                </p>
            </article>
        ))}
    </div>

</BaseLayout>